.column {
    float: left;
}

.left {
    width: 30%;
    height: 90vh;        
}



.right {
    width: 70%;
    height: 90vh;
}

.left-title{
    margin-top: 2vh;
    text-align: center;
    color: white;
    font-size: 2vw;
}

.left-article{
    margin-top: 1vh;
    margin-left: 2vw;
    margin-right: 6vw;
    color: white;
    font-size: 1vw;
}

h3{
    margin-top: 2vh;
    margin-left: 2vw;
    color: white;
    font-size: 1.5vw;
}

.ul_t{
    list-style: none;
}

.li_t{
    margin-top: 0.5vh;
    margin-left: 2vw;
    color: white;
    font-size: 1vw;
}
.Bt{
    float: right;
    margin-top: 2vh;
    height: auto;
    width: 58vw;
}