.column {
    float: left;
}

.left {
    width: 20%;
    height: 120vh;        
}

.middle{
    width: 60%;
    height: 120vh;
}

.right {
    width: 20%;
    height: 120vh;
}

.IMG_CV{
margin-top: 2vh;
display: block;
margin-left: auto;
margin-right: auto;
}