.column {
    float: left;
    height: 90vh;
}

.left {
    width: 50%;
    height: 100%;
    background-color: rgb(40, 80, 70);
}

.right {
    width: 50%;
    height: 100%;
}

.title-left {
    text-align: center;
    margin-top: 2vh;
    color: white;
    font-size: 4vh;
}


/* under columns i left column */

.under-left {
    width: 30%;
}

.Under-middle {
    width: 30%;
}

.under-right {
    width: 30%;
}

ul {
    list-style-type: none;
}


/*/ Udannelse /*/

.under_title-left-udannelse {
    margin-top: 1vh;
    margin-left: 2vw;
    color: white;
    font-size: 1.3vw;
}

.text-left-udannelse {
    margin-top: 1vh;
    margin-left: 2vw;
    color: white;
    font-size: 0.9vw;
}

.Under_title-middle-udannelse {
    text-align: center;
    margin-top: 1vh;
    margin-left: 2vw;
    color: white;
    font-size: 1.3vw;
}

.text-middle-udannelse {
    margin-top: 1vh;
    margin-left: 2vw;
    color: white;
    font-size: 0.9vw;
}


/*/ Job /*/

.under_title-left-job {
    margin-top: 6.6vh;
    margin-left: 2vw;
    color: white;
    font-size: 1.3vw;
}

.text-left-job {
    margin-top: 1vh;
    margin-left: 2vw;
    color: white;
    font-size: 0.9vw;
}

.job-title {
    margin-top: 2vh;
    margin-left: 1.5vw;
    text-align: center;
    color: white;
    font-size: 4vh;
}

.Under_title-middle-job {
    text-align: center;
    margin-left: 2vw;
    color: white;
    font-size: 1.3vw;
}

.text-middle-job {
    margin-top: 1vh;
    margin-left: 2vw;
    color: white;
    font-size: 0.9vw;
}

.under_title-right-job {
    margin-top: 6.6vh;
    margin-left: 2vw;
    color: white;
    font-size: 1.3vw;
}

.text-right-job {
    margin-top: 1vh;
    margin-left: 2vw;
    color: white;
    font-size: 0.9vw;
}

.img-top {
    height: 47.9vh;
    width: 49.6vw;
}

.img-bottom {
    height: 47.9vh;
    width: 49.6vw;
}